{
    "customSyntax": "postcss-scss",
    "extends": ["stylelint-config-standard", "stylelint-config-rational-order"],
    "rules": {
        "font-weight-notation": "named-where-possible",
        "indentation": 4,
        "order/order": ["dollar-variables", "custom-properties", "declarations", "rules"],
        "selector-class-pattern": null,
        "selector-id-pattern": null,
        "string-quotes": null
    }
}
