{
    "customSyntax": "postcss-scss",
    "extends": ["stylelint-config-standard", "stylelint-config-rational-order"],
    "rules": {
        "alpha-value-notation": null,
        "at-rule-no-unknown": [
            true,
            {
                "ignoreAtRules": ["content", "extend", "function", "include", "mixin", "return"]
            }
        ],
        "color-function-notation": null,
        "font-weight-notation": "named-where-possible",
        "keyframes-name-pattern": null,
        "indentation": 4,
        "order/order": ["dollar-variables", "custom-properties", "declarations", "rules"],
        "selector-class-pattern": null,
        "selector-id-pattern": null,
        "string-quotes": null,
        "value-keyword-case": [
            "lower",
            {
                "camelCaseSvgKeywords": true
            }
        ]
    }
}
