// Hinker Design Language Colors

$hui-white: #fff !default;
$hui-black: #000 !default;

// Primary Blues
$hui-blue: #0061d5 !default;
$hui-blue-80: #3381dd !default;
$hui-blue-50: #7fb0ea !default;
$hui-blue-40: #99c0ee !default;
$hui-blue-30: #b2cff2 !default;
$hui-blue-20: #ccdff7 !default;
$hui-blue-10: #e5effa !default;
$hui-blue-05: #f2f7fd !default;
$hui-blue-02: #fafcfe !default;

// Primary Grays
$hui-gray: #222 !default;
$hui-gray-80: #4e4e4e !default;
$hui-gray-62: #767676 !default;
$hui-gray-50: #909090 !default;
$hui-gray-40: #a7a7a7 !default;
$hui-gray-30: #bcbcbc !default;
$hui-gray-20: #d3d3d3 !default;
$hui-gray-10: #e8e8e8 !default;
$hui-gray-05: #f4f4f4 !default;
$hui-gray-02: #fbfbfb !default;

// Dark Blues
$hui-dark-blue: #003c84 !default;
$hui-dark-blue-50: #7f9dc1 !default;
$hui-dark-blue-20: #ccd8e6 !default;
$hui-dark-blue-10: #e5ebf2 !default;
$hui-dark-blue-05: #f2f5f9 !default;
$hui-dark-blue-02: #fafbfd !default;

// Light Blues
$hui-light-blue: #2486fc !default;
$hui-light-blue-50: #91c2fd !default;
$hui-light-blue-20: #d3e7fe !default;
$hui-light-blue-10: #e9f2fe !default;
$hui-light-blue-05: #f4f9ff !default;
$hui-light-blue-02: #fbfdff !default;

// Green Lights
$hui-green-light: #26c281 !default;
$hui-green-light-50: #92e0c0 !default;
$hui-green-light-20: #d4f3e6 !default;
$hui-green-light-10: #e9f8f2 !default;
$hui-green-light-05: #f4fcf8 !default;
$hui-green-light-02: #fbfefd !default;

// Grimaces
$hui-grimace: #4826c2 !default;
$hui-grimace-50: #a392e0 !default;
$hui-grimace-20: #dad4f3 !default;
$hui-grimace-10: #ece9f8 !default;
$hui-grimace-05: #f6f4fc !default;
$hui-grimace-02: #fbfbfe !default;

// Oranges
$hui-orange: #f1811a !default;
$hui-orange-50: #f8c08c !default;
$hui-orange-20: #fce6d1 !default;
$hui-orange-10: #fdf2e8 !default;
$hui-orange-05: #fef8f3 !default;
$hui-orange-02: #fffdfb !default;

// Purple Rains
$hui-purple-rain: #9f3fed !default;
$hui-purple-rain-50: #cf9ff6 !default;
$hui-purple-rain-20: #ecd9fb !default;
$hui-purple-rain-10: #f5ebfd !default;
$hui-purple-rain-05: #faf5fe !default;
$hui-purple-rain-02: #fdfbff !default;

// Watermelon Reds
$hui-watermelon-red: #ed3757 !default;
$hui-watermelon-red-50: #f69bab !default;
$hui-watermelon-red-20: #fbd7dd !default;
$hui-watermelon-red-10: #fdebee !default;
$hui-watermelon-red-05: #fef5f6 !default;
$hui-watermelon-red-02: #fffbfc !default;

// Yellows
$hui-yellow: #ffd700 !default;
$hui-yellow-50: #ffeb7f !default;
$hui-yellow-20: #fff7cc !default;
$hui-yellow-10: #fffbe5 !default;
$hui-yellow-05: #fffdf2 !default;
$hui-yellow-02: #fffefa !default;

// Yelloranges
$hui-yellorange: #f5b31b !default;
$hui-yellorange-50: #fad98d !default;
$hui-yellorange-20: #fdf0d1 !default;
$hui-yellorange-10: #fef7e8 !default;
$hui-yellorange-05: #fefbf3 !default;
$hui-yellorange-02: #fffefb !default;
