// Z-indexes
$hui-Modal-zIndex: 160 !default;
$hui-Menu-zIndex: 170 !default;
$hui-Notification-zIndex: 180 !default;
$hui-Overlay-zIndex: 190 !default;
$hui-Tooltip-zIndex: 190 !default;

// Borders
$hui-borderRadius: 4px;
$hui-borderRadius--medium: $hui-borderRadius * 1.5;
$hui-borderRadius--large: $hui-borderRadius * 2;
$hui-borderRadius--xlarge: $hui-borderRadius * 3;

// Spacing
$hui-grid-unit: 4px !default;
