@import '../common/theme';
@import '../constants/colors';
@import '../constants/layout';

@mixin hui-input {
    padding: 7px;
    color: $hui-gray;
    border: 1px solid $hui-gray-20;
    border-radius: $hui-borderRadius--medium;
    box-shadow: inset 0 1px 1px rgb(0, 0, 0, 0.1);
    transition: border-color linear 0.15s, box-shadow linear 0.1s;
    -webkit-font-smoothing: antialiased;
}

@mixin hui-input-onFocus {
    border: 1px solid $hui-primary-color;
    outline: 0;
    box-shadow: none;
}

@mixin hui-input-onHover {
    box-shadow: inset 0 1px 1px rgb(0, 0, 0, 0.15);
}
